<div id="character">
  <h3>Overview</h3>

  <p>You are a {{age}} year old {{lower alignment}} {{#if race.subrace}}{{lower race.subrace}}{{else}}{{lower race.name}}{{/if}} {{lower background.name}} adventuring as a {{lower class.name}}.</p>

  <p>
  {{#if background.reason}}
    You became a {{lower background.name}} because {{background.reason}}<br>
  {{/if}}
  You became a {{lower class.name}} because {{class.reason}}
  </p>

  {{#if race.other}}
    <h3>Racial ({{#if race.subrace}}{{race.subrace}}{{else}}{{race.name}}{{/if}})</h3>
    <p>{{#each race.other}}<strong>{{name}}:</strong> {{value}}<br>{{/each}}</p>
  {{/if}}

  <h3>Background ({{background.name}})</h3>
  <p>
    <strong>Trait 1:</strong> {{background.traits.[0]}} <br>
    <strong>Trait 2:</strong> {{background.traits.[1]}} <br>
    <strong>Ideal:</strong> {{background.ideal}}<br>
    <strong>Bond:</strong> {{background.bond}}<br>
    <strong>Flaw:</strong> {{background.flaw}}<br>
    {{#each background.other}}<strong>{{name}}:</strong> {{value}}<br>{{/each}}
  </p>

  {{#if class.other}}
  <h3>Class ({{class.name}})</h3>
  <p>{{#each class.other}}<strong>{{name}}:</strong> {{value}}<br>{{/each}}</p>
  {{/if}}

  <h3>Family</h3>

  {{#unless family.knewParents}}
  <p>You don't know who your parents are.</p>
  {{else}}
  {{#compare family.parents.mother.race family.parents.father.race}}
  <p>
    {{#compare family.parents.mother.race "!==" race.name}} Your mother and father are both {{lower family.parents.mother.race}}s.{{/compare}}
    Your mother {{family.parents.mother.occupation}}, while your father {{family.parents.father.occupation}}.
  </p>
  {{/compare}}
  {{#compare family.parents.mother.race "!==" family.parents.father.race}}
  <p>
    Your mother is a {{lower family.parents.mother.race}} and {{family.parents.mother.occupation}}, but your father is a {{lower family.parents.father.race}}
    and {{family.parents.father.occupation}}.
  </p>
  {{/compare}}
  {{/unless}}
  
  {{#unless family.knewParents}}
  <p>You don't know if you have any siblings.</p>
  {{else}} {{#unless family.siblings.length}}
  <p>You were an only child.</p>
  {{else}}
  <p>You have {{family.siblings.length}} siblings.</p>
  <ul>
    {{#each family.siblings}}
    <li>a {{relativeAge}} {{relationship}} who {{occupation}}. They are {{status}} {{attitude}}</li>{{/each}}
  </ul>
  {{/unless}} {{/unless}}

  <h3>Upbringing</h3>
  <p>You were born {{family.birthplace}}.</p>
  <p>You were raised by {{family.raisedBy.name}} and had a {{lower family.lifestyle.name}} lifestyle, living {{family.home}}.</p>

  {{#if family.parents.mother.absent}}
  <p>Your mother {{family.parents.mother.absent}}</p>{{/if}} {{#if family.parents.father.absent}}
  <p>Your father {{family.parents.father.absent}}</p>{{/if}}

  <h3>Life Events ({{events.length}})</h3>
  <ul>
    {{#each events}}
    <li>{{this}}</li>
    {{/each}}
  </ul>

  <h3>Trinket</h3>
  <p>Currently in your possession you have {{trinket}}</p>
</div>